################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/startup/FileContentIndex/3d4ac2a9-a3db-44e0-a874-1c58a30cc927.vsidx
/.vs/startup/FileContentIndex/9e249bd4-9e0e-4931-882a-8c05f59f0d2a.vsidx
node_modules/
dbConfig.json