body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

.footer {
  padding-left: 10%;
  padding-right: 10%;
}

.github {
  margin-left: 10px;
}

.author {
  margin-right: 10px;
}

#neuro {
  min-width: 50px;
  width: 20%;
  max-width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#logo {
    word-break: keep-all;
    white-space: nowrap;
    text-size-adjust:calc(10px + 2vmin);
    margin-right: 10px;
}

h1 {
    text-align: center;
    font-size: calc(20px + 2vmin);
    font-style: oblique;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    text-align: justify; 
}

.picture {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.login {
    max-width: 400px;
    margin: auto;
}
.login-title {
    font-size: calc(15x + 2vmin);
    margin-bottom: 20px;
}

.hoverlight:hover {
    background-color: lightgrey;
    cursor: pointer;
}