.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

.footer {
  padding-left: 10%;
  padding-right: 10%;
}

.github {
  margin-left: 10px;
}

.author {
  margin-right: 10px;
}

#neuro {
  min-width: 50px;
  width: 20%;
  max-width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#logo {
    word-break: keep-all;
    white-space: nowrap;
    text-size-adjust:calc(10px + 2vmin);
    margin-right: 10px;
}

h1 {
    text-align: center;
    font-size: calc(20px + 2vmin);
    font-style: oblique;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: calc(10px + 2vmin);
}
p {
    text-align: justify; 
}

.picture {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.login {
    max-width: 400px;
    margin: auto;
}
.login-title {
    font-size: calc(15x + 2vmin);
    margin-bottom: 20px;
}

.hoverlight:hover {
    background-color: lightgrey;
    cursor: pointer;
}


.card {
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  min-width: 320px;
  width: 45%;
  background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAJQBDgMBEQACEQEDEQH/xAAbAAEBAAIDAQAAAAAAAAAAAAAAAQIGBAUHA//EADsQAAIAAwYEBAMHBAICAwAAAAECAAMxBBESISJRBTJBYQYTkaFSceEUI0KBosHRB2KSsSTwQ3IVM3P/xAAbAQEBAAMBAQEAAAAAAAAAAAAAAQQFBgMCB//EADURAQACAQIFAgMGBQQDAAAAAAABAgMEEQUSITFBE1EiYYEGMnGx0fAUkaHB4SMzNEIVYvH/2gAMAwEAAhEDEQA/APbWxYTy03gLqu6UgJq8v8NN4A2LAaUgiHFg/DSKqviwNSkEJmLA1KbxFHxXdKj/AHADi/t9YINiuHLXeCjYsuWu8NwOK9eX1gBxXrSu8AbFevLXftBA4sQpQ/tBTVjNKQF1YjSkEQYsTU9YKgxYm5enWKKMV7ctYAuK96V/aIguK9uWu/aCi4s+Wp6wFXF/b6wRFxf213h5BMWD8PXrBRMWEUpvASXiwLy03iyAxeUOXl/aIKcWE0pvBA4sPSkUGxYDy0gD4sDUpAZav7fWIqOGwNq6bQDVdXptAS5vL5um0UGDYDn02gg2LBXptBRw2Bs+m0RBw2BtXTaCj4rq9R07xRSG39oIMGuGrrtEVGxXjPrtACGvXP2gKQ1659doCENeufXbtBAhsQ1dD0+UFLmxnPptFFubEc+m0BBixNn7REAGxNq26RVBivbPrtAFxXvn127CCChr21ddu0FFDZ59T0iIqhvi9oCKG367Q8qIGwV36QFQNhGrptASWGwLq6bRZEGLyhn+HbtAUhsBz6bQRSGw16bQEcNgOfTaAOGwtn02iDK5t/aCsWGk6mpAXDlVqRRCPu+ZqQBhoObUgIV0czUgK66GzakAcaGzakAdcuZqj/cAI7t6wBlyGbRAZcxqasIAjNdTQArmupqwAjNdTV/aKBGoZtQ/tEEK6zm1P5ijLDqObUgIBqbU0BMOptTdIChdTZtX+IgKNT5tX9ooBc2zau/aAItc2qYCoMuZoIir/c1YnlRF0czdYAo0jU1ICSxoXU1Is9xAPuhm3L+0Bkw0HNqQAjTVqQRHXQdTUibqrrpbU1IouH+5ogxfy8DZLTaAv3d1FptAY/d+XRabQFYS8ByWm0UQiXgotNogr+XgbIU2gDiXgbJabQBhLw0Wo6d4AfL2X0gDeXcMl9IoN5d4yXm2iQB8u9ch6RQPl3rkK7RAPl3rkK7dodQITEMhQ9PlALkxnIUHSKLoxnIU2iIgEvE2S+kFAJeJsl6dIABLvbIV2gCiXifIV27CCC+Xe2Qrt2iqJgzyFT0iAnl3UHpFQUS9lrtE8qKJeGg69IAvl4RktNoCS/LwLkKbQmeoAJ5IyHLt2gKRLwnJabRQbBhoKbRERxL8s5LTaHVVcJgbIU2gL93sPSArMMJyNNoBiF1DTaCJiHl9abQBmGA1ptAGYYOtNoA7DAa+kAdhhatD0gDMMPWo6d4Clh39IKMwuFfSKiMwyrXaIoWF6169IAWGJa12gBYXrWu3aCBYYhWh6fKCmIYutB0gKGGI1ptBEDDE1fSCgYYmr06QFDC9q12giKwxPka7doArC9q12gKrDOtT0gCMLuvpARWHeu0ARhh69ekFVGGEVptAYowwLWm0JQxDyuvLt2h5VSwwmtNoAzDD1ptBB2GA1ptAHYYTX0gMsQ7+kFYsxwnSadoC4jdymnaCMSx8vlNO0UVmOA6TTtAQscHKadogrscB0n2gI7HCdJ9oCuxu5TUbbwVSx+E+0ERmNw0n2gBY5aTXtACxvXSeu0VRmN66TXtEAsb10n2giFjiGk0O3aCriOLlNBtCBcRvOk+0EQMcTaT7QUxHE2k0G0EAxvbSa9u0AVjifSa9toAjG9tJr2gCsc9JqdoArG7lPtAEY3cpr2hPcFY4eU9doKKxwjSadoArHyxpNO0ETEfL5TTttFFLHAdJp2iAzHBymnaAjsfL5TTtBVdjhOk+0BcR+E+0BGLYTpWm/wBIBe13KKb/AEgJe3l8opv9ICktgOlab/SAhLYOUU3+kBXLYTpHr9IA5bCdI9fpAHLXcoqOvf5QAlvhFfi+kAYtcNIrv9IAxbLSK7/SAEteNI9fpACWvXStd/pACWxLpHr9ICEtjGkUPX5doC3ti5RQdfpAL2vOlfX6QAFsTaR6/SAgLYm0jp1+kBQWvbSK7/LtAFLYm0iu/YdoApbPSK7/AEgCls9Iqev0gCFruUev0gCFruUV+L6QBS2HlHXr9IApbCNK03+kBFLeWNI5d/pCQJbyzpFN/pAUlsJ0im/0gDFsHKKb/SKiOW8s6RTf6RFVy2E6R6/SAt7fCvr9ICMGwnWabCAtzXcxpsICEN5fMabCKgQ2E6jTaIDBsHMabRQcHAdRptEBg2HmPoIA4N3Majp3gowb4j6CKgwa4ajXYQBg2Wo12iAQ166j6QUIN66jXaAXNiGo+kECGxDUaHp8oKXNi5jQdIC3NedR9BBEAbE2o+kFAGxNqPToIAAb21GuwggoOJtRrt2gChs9RrsIAobPUanoIAoa7mPoIAga7mPpBRQ2HmPXpAVQcI1mmwgMVDeWNRpsICkHyzqNNhFQIOE6jTaIowbBzGm0EHDYDqPpAGDXHUfSCsrj8Z9BAYuuk5tTeAuHKrU3gIy6Dm1N4qBXSc2pvEUZdFWpvBB10HNvWAMuk5t6wB1yq1R17wUZe7V3gDLkM2rvFBlpm1d4iBXNc29YKFc1zau8Aw6hm3rBArrGbUPX5QUw6qtQdYC4czm3rAQLqbNvWAYdTZt6wALm2bV3gCrqfNq79hBBVrm1d4Aq1zap6wBVyq3rBRVyq3rAFXTVvWAqrpGbU3gMVX7sZty7xRWX7s5tTeCBXQc2pvEUZdFWpvAHXQc29YIrLkc29YKuHu3rAYuq4T8t4BhW7rTcwEKrgPy3gisq4DWm5gIyrhPy3gK6rgP8wB1XCa+pgDqt3Wo6neAFV713MAZVy+e8UCq6fnvACq4lr13goyriWte8QMK4hX1MERlXGPkevygq4VxfkOsEMK3n+YogVcTV9TEUCriavqYChVvatdzBBVXE/wA9+wgCqufz3gCqufzPWAKq3fWAIq4R/MAVVw9fUwlRFXCtad4CKq+WP/XeKgVXyz8t4eQKrhPy3iKMq4OtNzBCYq4D/MBWVbj/ADAXCv8A0wVixXCdJp8BgBKXcvT4DACVwHSafAYIHBh5TT4DFBiuE6TT4DEByuA6TT4DAGw4Tp/TAGwYeXqPwneChwfD+gwBiuWk1+AxUCVy0mvwGAHBeun9Bgo2C9dPX4DEC9Lxo/QYASuIaTQ/gPaAXri5TQfhMAvW86T/AIGKiDBibSf8DEVRgvbSf8DAFKXtpNfgMAUribSa/AdoIKVz0mvwGAKVz0mp/AYCqVH4T/gYCLgw8p/wMFFwYeX9BhILgwjT0+AwEUr5Y0nl+AxRSV8s6TT4DBAlcJ0mnwGIo2DAdJp8BgiOVwHSf8DBVYrcdJ/wMBb0+E/4GAMxwnS1O0ALHCdLU7QAscB0mnaCBY4eVqdoKjscHKadoI+NttkmySWe0NhG3Ux4Z9Tj09efJOz1x4rZJ2q1q2eJ7TMmf8VFloPiF5Mc3n47lm3+lERHzbjFwykR8c7y73hXEhxCxrMuudSA6joY32g1karFzefLV6rBOHJy+HPLG7lb2jNY4zG8aWr2gKWN40t7RRCxvXS3XaIgWN66Wr2gpiOJdLe0UGY4hpah27RAxHFytQbQDEcR0nptAAxxNpb2gAY3tpb2gIrG9tLc3aAqscT6Wr22EAVjnpavaAKxz0tU7QQVjh5W9oKKxw8re0VBWOHlb2iKKxwjS1O0BFY+WNLcvaKKWPlnS1O0PKBY4Tpb2go7HAdLU7QRHY4Dpb2iKrMbjpb2gLiPwt7QEYthOQpvAUlsJyFN4CEtgOQpvACWw0FN4qPhxCc8ixTJoAvVd6d4x9VknFitevd64axe8RZo9n41ZOLW2fJk2r7RNlAGYRmLjlkaekc5qMOasRkzR3bfFbHE8tPD4WiUZTlb8ukaTNWa2bCluaHK4PbzYbYswk+UxwzB23jL4dq50uaJn7s9J/B4avB6+OY8w3vFiRWUgg3XEdRHc1mJjeJc3MTE7SrFrxkK7x9CkteMh6xPAhLXrkOvWAEteuQrvAL2xDIesAJbGMhQ9flAL2xUFB1ihe2I5D1iIAtibIesFUFr2yHrARS17ZDm3gClsTZCu/YQQUtnkK7xQUtnkKnrAFLYaD1iKKWw0HrAFLYaD1gClsIyFN4CKW8sZDl3iikt5ZyFN4IEthOQ9YijFsFBTeAOWwHIesBWLXHIesBb22HrARsWE5ikAOLCcxSCIcWE5ikUVsWHIikB8bbZ1tVkmWecA0uYhRhd0IgPMbRJ4hwjiA4LwPhcmTLlFWm2mYNBXcdSSP8AUaTU4MdZtk1F9/aGzw5JtERjrt7y7ufLWdLIUgladY0ObHN428tjjttLraRrZZbaPDHEfMlfYpja0zl9xtHV8F13PT0b947fh/hpOI6flt6le092xtivGYrHQNWNivGYgBxXrmOsAOLEuYrEUOLEuYiohxYxmKH9ogurHUUEUNWI5iIAxYmzEAGK9sxFBcV7ZisQRcV75iv7CAq4s8xWKC4s8xUxBFDXDOKPjZrTKntMlyZ8t3kvgmKrXlDsR0MQfdcWGopBRMWEZikBBi8sZjlioNiwHMcsAOLCcxSANiw1EBXxYTmIgPiuOYgLq3EFYsuk6zTtAGXSdRp2gBBwHWadoI+UqfKny3aTPWYFJVirAgEdIsxMT1SLRPaWuS/GVitPimVwGxlppaW5e0AjCrCijfrHp6c8vNKc0dofXxtwafxPhZax2udZp8u7G8oDE0u/UPnt+e8YmWlLfFNd5jrD3xXms7b7RLQbPxGRYJZ4R4VszWyeCS85ySinqWP7ZRqbYLZZ9fVW5Y9vLPrkikcmKN3a2ey22z2RDxK0LPnsb3ZUwgdo0evritfnw12r++rZae1ortfu+sidMs81Zsk4XU3gxg4stsV4vXvD3vSL1mtu0t9sFqW3WWVPlsQGqMsj1Ed/ptRXUYoyV8uXzYpxXmkuWVN41N7RkPJCua6m67QUKm9dTV7RAK6l1NQ7QRCusamodu0FXCcXM1BtFADUdR9oiAXU2pvaCgXNtR9oIKpvbU1e0NxFGp9Zr22EBVFdRr2igq11Gp2iAq5VPtBXjv8AUaRxrgvj2ycS8LtOFtt0kXy5a3rNKm4q4oRmMzS/IiJNorG8rETPSHp/BLfaLVYZP/ySpItpT72XLfEuLrcSI8qZ6Xts+7YbVjd2arpGs07R7PNAv3Y1Ny9oqKy6DqPL2iARpOpqdooxxKysFm34cjcRlBZiY7spi6DqPtEFZcjqb2gLhPxN7QHCt/FeH2O+XarZKlzCt4Qtmfyj0riveN4h52zY6ztMuE/ELXbtHC5Hlyrs7TaQQv5LkWj7jHWn+5P0h5+pe/3I+s/o6jjSW+VO+ztxK0WuSJJn2uUQkv7sEC5SovF+fXpHtimlo35YifH4sfNW+/LzTMd57dvzc/xIJUjwjbRYPu1NmIlLKN1RldGJOSK35sk/zZ1KTNOWkNA8I2OXxDjvCzwzhn2Odw9cVvtDMT5u2Rp+L1OwjItb4Znffd4ViZmI27PXXAuOe/4oxt2Q898VcN4lw+1pZfD0uz2aRa2eY1pIF8o9bhQnOpvyv+cazVYcNbetm3mPb5s7BlvNfTo+1kmyp0o2U2tLTPlKFnEEX37kRoM+Odt5jaJ7Nljtt033mHFmoUYqehjUXpyzszq2iY3h23hziAstrEiax8mYQOwbeNxwfW+jl9O0/Db82Br9P6lOeO8NyOG8Z/qjsGgQ4b1z/VBXxtNps1mwGfOWWCcr2rHza9a9bTskzEd3Emcb4ahH/KvrS+PC2t01e94/m+Jy0jy483xJw5WvVpzZGimPC3FdJX/vD4nPjjy+D+KbMDekicfmwEY9uOaSO28/v5vidTjcd/FbAkpZNuacY8bfaDF4pP8AR8zq6+IfCZ4otmorKkpfvib9xHhP2hn/AK4/6/4fM6v/ANXHm+I+JXMfOVc/wSx+98eH/ntTM7RWP39Xz/FXns+nB7Rxfi1quNumpKU3zGFwA7UjK0mq12sydLbVjv0h94smTJb5NxXCL72ORqW7COi7M2GlcU4na+KWszPDnFyr2clfsh04yCdQv5r4x7Xm070ltcWGmCm2ox9J8+zk8I8Yy/O+x8ektY7SCAXN+Bv4i1z9drxs+M3Dp29TBPNVtsppbyw6PiU5hg2Rj3336tbMTE7S41tlq0oOBeyU65GsY2qjem71wT8TXrdaBJxCQA0wZjtGgz6ymOeWvWfybbDh5/vdnP8ADfFjbEaz2pyZ6Zg38w+kbHhmunLHp3n4o/JjcQ0kYp56dpd2MHlV/D8UbhrVfDgOfT4oiNf8a8el8D4O8yW19qnApJF/Xf8AKK2fCdB/G54ifux3eS8F8Q8Q4Pbza7POZy5vmy3JImDv/MTbZ3mr4dp9Vi9O0bbdtu8PYPDviLh/H7GXsszDOA+8kM2pT+47xXAcQ4dm0V9skdPE+Jd22G45/qiMAuX4v1QHzdJRvYqpa6pXOETKbQzYrhOfSCuk4tYLZNts2dY3khLRZhIms5N8sAk4gOpuYxkY8lYrtbxO7Fy4r2vM18xt+Dq7XPFu4hZrFIP/ABLPcq/3XVPtHGcQ1c63Vckfdj97ul02CNLp5vP3phslhVFlzclBJF+Ubzh+/LPVqs/eHLcrgbOo2jYPBwOPcOlcW4ZPsbu0vzFuWbLNzI3Qg/8Aco+LVi3S0dH1WZq80scyRwXiA4Pwfhc2baFcC2TXOHCOpLG+/LpkI0+pwZckWyam+23bbz9Gyw5KRMVx1337u04tb7DZp0mRPnqtomNhly6lvy6RpL6PLnxzkrHbqzqZ60tFZnu+ZjVR3Z2zc/D3EVtdlWXNI8+VkcqjoY7ThOs/iMPLafij8vDnddp/Syc0dpduWW9c/aNswmveMlU2ayuOkwr6qT+0abjtN9Lv7SxdXHwNUAuvva/OOQn5NeXXG+IAzOXpA3ZtKcAFkYA0JF18fU47xG8x0Vg1wW9qR8xHVH04dYZvErX5Uq8C/Wxoo3jO0mjvqMnJV648c3naHoFgstnsNnEizqFRMu5O5jtcGCmDHFKR0hsqUisbQ6LxrxkWHh5s0hh9otGkdl6n9omoycsbR3bThum9bJ6kx0h5mZWEhpRKkG8Z5iMCJdJNIl20rjiWqWtl8QWf7ZJHJPXTOl/mKx7Rliel43YF9JNLc+nnafbxP6O14UvEuGuto8OW0W+wM4D2dzmt56r0+Yj0rz160neGJmthyxNdRXlt7/v+70MokySUahFx7RkZMcZKzW3lpa22mJhqVusjWaaUalVO4jhNVpr6TNOO3bxLfafNGSu7rX8yzT0tNnYoyG8djH3iyWpaLVnrDNjbJWaXbtw23yrdYVnLpN1zL8JjtNLqI1GOMkfVzOowTgvNJ+jk2ifKkyJkya4VEUliaARkPKtbWtFa95eGeKuNTfEHGnn0kg+XZ0NAt9fmTmfpFfpXDtFXQ6bk895/FtNu/pwrcOkvw20lrasseYk7JZh/t2j7227uN1H2g1mTNM0tyx4jaGkTpFv4PbikxZ1ktSHfCfyO0Sa+YbvRcew6mvpayIj5/wDWf0bZwX+pFvsgErislbXLH/kUYZg/Y+0fL71f2b0+WvPp55fl3j/H9XpvB+J2bi3D5VtspPlTKYhcRuIjj9Tpsmlyziyd4c1mGE5NTaDwGOg5NTaA6zxHbfsPBLXPF4bAVX5nKPPNPLSWVocPraitfm864DarTZmabLmHIBRizEamunxTPNt1dbrsNLxFZh6PwabNm8MWdPQKz53KDTpGy02KMdNocjrK1rmmtfDsHOg19IyGMO2VDUdO8Bqnjnh9vezi08HnJZ5ruqT5jqThWgYdx/3eMPU6fFb/AFb1328PfBktE8kdN2pcDsvBbBxNrLLtP2zimAvMnPqI/OgrS++NXqsmqy4uaa8tPbt/9Z+KuKtuXfeztbVKMpxcNJpHN58cVtvHZtMduaNmXDbY9htaT0N9x1DcdY9NJqrabLF6vnPhjNjmst9kT0ny5c2WcSOLwQOkd7jvXJSL17TDmLUmk8tu8Oo8YKX4YjAcs0GnYj94wOLU5tHf6fmx9TG+OWnC+7NgY4mWr3b1w2x2JrLZ5gssvE0sHFgjt9LpNPOKt4pHWPZtceOk1idnItEyzWSU86agRFGeiMya48dZtMREQ+5iterSeK8Re32gzX0SxkibD+Y47iPEJ1V+WvSsfvdrs2WbztHZwrNZp/ELSkiQuJmOWwG5jG0+mvmvyUjq+aUmZ2h6Bwnh8nhlnMmSCWvvd8ObGO10ulppscUr/P3bLHjikOROtEuzyZ06aSqJezEigujMiszO0Pq1orEzPaHk/GLe/FeIzrXMPMdC/CoyA/71vjZ30GG+OK2jrHlo9PxzV6bPOTFPSfE9v383XlY0Wq4flwTv3j3dxw37Q6XW/DaeS/tP9p8sSoIuKxgxv4b7aJbn/TvgpSZM4rMxYSDLkrvux/0PzjL01J+80XFs8RMYY+re0IwUI/KMvy0jh8SsgtlmuAPmLmpu9o1/EtFGqw7R96Osfp9WRps04r/Jqc6XcWVgbwbmEcTXmrPLbpLfUvvG8MeFW5uE2wlrzIcXOO2/5RtdBrJ0+Tee09/1TVaeNRi6fe8Nq43Yk41wafZFnNLWfLymKL8qx2FbRaN4aTS550morlmu+09nkfGvBPGOFBpgki0yB/5JN5y7rUR977O60nHNJqfhmeWfaf1bD4Y8dyysux8c+7dAEW0gZH/2HQ9/9R9Rf3aLin2btFpzaTrE9eX9GwpLXxLJtdn43wtBZ0mXWW0LMDF1+JT06do+tvMOVtzUnltHVqPE/wCnVulW2UtgnC02OZMCmYcmlDdh1/KPmZ9224fxjPo52rO9faf7PUeGWOTw2wSLHZ0YS5KhRlXvHmwc+a+fJOS/eXKYaT8oPJHylse0BqX9R5rpwizIp0zJ4DDe5Sf9iMbVz8Ld8ArE5rWnvFf7tZ4TLUyZCkZO4v8AWMbG3WqtMWtPtD1AIqysCi5VAAEbGOzi7TvO76ONJiojjL8x/uAxnIsxGluAUYEMCKjaIPLeMy5HhXhFqncIs8pXWeVvcFr9V2ZqY0k1/itbOLJPwtlW3p6fnr3dwD9osEqY9Xlhzd0N0aXUUjaYbDHPXdwBnGqhmNp8HT3eXPkMQUlteva+sdbwHJa2G1Z7RP5tJxSkReLR3lzvFCg8HmdmX/cbLiP/ABMn4NPn/wBuWhoSZmHpcY4WYhqvD0HgRJ4ZY/8A8v4juuH/APEx/g2mD/bhr3i20TXt/wBnLfdS1DBe8aXj2ovFq4onpPVj6u8x0a5OJxBekc9DEiG8eFLJJkcMSei/eTRezH50+UdlwnBSuCLR3lsdPWIrvDuwM2jashqf9QrVNkcOlSpbXJOmHH3AF90Z2hpE3mZ8NTxXJaMUVjtMtC/ERtl842m/doYjfeC6PqI26EQgQPMRTfqYKbtiRGl4lpMMV9SI2nd1XAOMav166a881Z379429pey2KRLs1llSJK4ZaKFUDaMSIiOkMy15vabW7y+qjTF8vkA03RJGucekos6UyrcZi6ro5L7QYaYssZK957troLTNJifDoLUAUcmq0jWV7ttj77Nh8Jz5j2KfJZr0ktcnYEX3R1HB8trUnHPaO31ajieKsZIvHe3d35AIMbpq4jdo/wDUnw/w48In8VlyfKtcq7VLuAe8/iHWJs6PgPENRGeNPM71n38fg0Pwxx7iHC7XKk2edikTHAaVMzXOPqJ27Ok4nwvTaqlrXr8UeY7vbbJ/9Kvdm118fV35pWNpmIcu6PN6P//Z');
  background-size:contain;
  background-repeat:repeat-x;
}

.score {
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  color: red;
  cursor: default;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  border: solid thin rgb(117, 0, 0);
  background-color: #300;
  margin-right: 10px;
}

@media (max-width: 1000px) {
    .menu{
        display: none;
    }
}